*{
    margin:0px;
    padding: 0px;
    background-color: blueviolet;
}

.maindiv{
    height:60vh;
    width:30vw;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10% auto;
    border-radius: 100px;
}

.inputmaindiv{
    background-color: white;
    margin:auto;
}

.inputdiv{
    border: 2px solid black;
    background-color: white;
    width:20vw; 
    height: 6vh;
    margin:0% 0% 5% 0%;
}

.button{
    border: 1px solid black;
    border-radius: 100px;
    background-color: yellow;
    width: 8vw;
    height: 5vh;
    margin:0% 0% 0% 25%;
}

.heading{
    color:blue;
    background-color: white;
    margin:0% 0% 5% 10%;
}