*{
    margin:0px;
    padding: 0px;
}
.maindiv{
    height:100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(#0cebeb,#20e3b2,#29ffc6);
}
